.popup__name {
    margin: 0;
    margin-left: 36px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 40px;
}
.popup__name:after {
    content: "";
    position: absolute;
    top: 138px;
    left: 0;
    width: 358px;
    height: 1px;
    margin-left: 36px;
    background: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1024px) {
    .popup__name {
        margin-left: 22px;
    }
    .popup__name:after {
        top: 149px;
        margin-left: 22px;
        width: 238px;
    }
}
