.popup__name {
    margin-left: 36px;
    font-size: 14px;
    margin-bottom: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    border: none;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 8px;
}
@media screen and (max-width: 882px) {
    .popup__name {
        margin-left: 22px;
        width: 238px;
    }
}
