.profile__add {
    padding: 0;
    width: 150px;
    height: 50px;
    background: url("/images/add.svg") center no-repeat;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 2px;
    grid-column: 3;
    grid-row: 1/3;
    margin-left: 0;
    cursor: pointer;
    margin: 35px 0;
}
@media screen and (max-width: 1024px) {
    .profile__add {
        width: 282px;
        margin: 33px auto 36px;
        display: block;
        background: url("/images/add-small.png") center no-repeat;
    }
}
