.profile__avatar {
    border-radius: 50%;
    max-width: 120px;
    grid-column: 1;
    grid-row: 1/3;
}
@media screen and (max-width: 882px) {
    .profile__avatar {
        display: block;
        margin: 0 auto;
    }
}
